body {
  background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
	fill: #222222;
}

svg {
	/* use vh in the future with percents in js */
  /* max-width: 100vh; */  
  /* max-height: 100vh; */
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%, -50%);
  ttransform: scale(.5);
}

.axis path,.axis line {
		  display: none;
}

/* 
 * ramp legend
 */

.stop-left {
		stop-color: #FFFFFF;  
}

.stop-right {
		stop-color: #FF0000;
}

.filled {
		fill: url(#mainGradient);
}

.metrics, .metricData{
  font-size: 25px;
}

#country-label-group{
  font-size: 20px;
}

#vis{
  font-size: 20px;
  animation: intro-un 20s;
}

#title {
	font-family: 'Fira Sans', sans-serif;
	font-variant: normal;
  font-weight: bold;
  font-size: 35px;
  transform: translate(0%, 1em);
}

#img-un {
    opacity: 1;
		width: 48px;
		height: 48px;
    transform: translate(94%, 0%);
}

#backing {
    opacity: 0;
		width: 90px;
		height: 50px;
    transform: translate(94%, 0%);
    fill: black;
}

#copy-t {
    opacity: 0;
}

/* Should combine all animations */
@keyframes intro-un {
  0% {
    opacity: 0;
	}
  95% {
    opacity: 0;
	}
  100% {
    opacity: 1;
	}
	
}

@keyframes intro-b {
  0% {
  fill: red;
		width: 700px;
		height: 300px;
    transform: translate(9%, 23%);
		opacity: 0;
  }
  72% {
    fill: red;
		width: 700px;
		height: 300px;
    transform: translate(9%, 23%);
		opacity: .4;
  }
  
  87% {
		width: 600px;
		height: 50px;
    transform: translate(0%, 0%);
		opacity: .4;
    fill: red;
  }
  88% {
		width: 600px;
		height: 50px;
    transform: translate(0%, 0%);
		opacity: .4;
    fill: red;
  }
  95% {
    opacity: 1;
		width: 90px;
		height: 50px;
    transform: translate(94%, 0%);
    fill: black;
  }
}

@keyframes intro-t {
  0% {
/*
    fill: red;
*/
    transform: translate(33%, 30%);
		opacity: 0;
  }
  15% {
    transform: translate(33%, 30%);
		opacity: 1;
  }
  80% {
    transform: translate(33%, 30%);
		opacity: 1;
  }
  100% {
    transform: translate(0%, 1em);
    fill: black;
  }
}

@keyframes intro-c {
  0% {
    transform: translate(11%, 37%);
		opacity: 0;
  }
  10% {
    transform: translate(11%, 37%);
		opacity: 0;
  }
	16% {
    transform: translate(11%, 37%);
		opacity: 1;
  } 
  
  76% {
    transform: translate(11%, 37%);
		opacity: 1;
  } 
  80% {
    transform: translate(11%, 35%);
		opacity: 0;
  }
}

/*
            #content, div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font: 30pt sans-serif;
            }
*/

/*
            span {
                transition: all 1s;
            }

            span:hover {
                border-bottom: 3px solid;
                font-size: 200%;
                color: blue;
            }
*/
