input {
                width: 100%;
                border-radius: 5px;
                border-bottom: 3px solid;
            }

            #content, div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font: 30pt sans-serif;
            }

            span {
                transition: all 1s;
            }

            span:hover {
                border-bottom: 3px solid;
                font-size: 200%;
                color: blue;
            }
