svg {
	-webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
	filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.25) );
}

/*
.click-circle{
	cursor: pointer;
}
*/

#center-label {
  font-size: 4vh;
	text-anchor: middle;
}

#center-num {
  font-size: 8vh;
	text-anchor: middle;
}

.intro {
  padding-top: 45vh;
}

/* BOOTSTRAP */ 
/*
.menuOpts{
	cursor: pointer;
}
*/

/*
.menuOpts[data-active]{
	opacity: 1;  /* TODO too much hassle - do it later if you have time*/
}
*/

/*
.slide {
  background: #f9f9f9;
}
*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
/*
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*
.row.content {height: 450px}
*/

/* Set gray background color and 100% height */
/*
.sidenav {
	/* padding-top: 20px; */
	height: 100%;
}
*/

/*
.well-container {
    display: table;
    text-align: center;
}
*/

/*
.well {
  font-size: 1.72vh;
	background-color: transparent;
	border: none;
	text-align: justify;
	
	display: table-cell !important;
	vertical-align: middle !important;
	
	transition: all 0.5s;
}
*/

#mytooltip {
  font-size: 1.5em;
  color: #AFAFAF;
  background-color: black;
  border-radius: 4px;
  padding: .3em;
}

#bulb img{
    position: absolute;
    width: 25%;
    left: -13%;
}

/* Set black background color, white text and some padding
footer {
	background-color: #555;
	color: white;
	padding: 15px;
} */

/* On small screens, set height to 'auto' for sidenav and grid */
/*
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height:auto;} 
}
*/

/* INTRO VIDEO */
#title-back {
	margin-left: 5%;
	width: 50%;
	background-color: #AFAFAF;
	border-radius: 5px;
	opacity: .85;
}

/* Rehetorical Question */
.color-text b {
	color: #f2c407;
}

/* main vis cols */
div .col-sm-4, .row .col-sm-2 {
  padding-top: 6vh;
  font-size: 2.7vh;
}

.dnut-icons {
    filter: opacity(.4);
    margin: 3px;
    width: 1.5vw;
}

#title-back > h1 {
    font-size: 6rem;
}

h2 {
  font-size: 6vh;
}

.slide h2 {
  font-size: 6vh;
  text-align: center;
}

.highlight {
	color: black;
	font-weight: bold;
	transition: all 0.7s;
}

.highlight.summation {
	color:  #f2c407;
	font-size: 1.1em;
	font-weight: bold;
	transition: all 0.7s;
}

#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
		background-image: /* our video */;
		background-position: center center;
		background-size: contain;
		object-fit: cover; /*cover video background */
		z-index:3;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
	position: absolute;
	z-index: 4;
	width: 70%;
	left: 0;
	top: 6%;
	opacity: .4;

	/*
	* Preventing flicker on some browsers
	* See http://stackoverflow.com/a/36671466/1081396  or issue #183
	*/
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.fp-tableCell > p {
	font-size: 1.6vw;
}

.fp-tooltip {
	color: #232323 !important;
}

.sidenav {
	height: 90% !important;
}
#section0 .layer h1{
	color: #000000;
}


/*solves problem with overflowing video in Mac with Chrome */
#section0{
	overflow: hidden;
}


/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}

#section1, #sources {
	padding: 0% 20% 0% 20% !important;
	font-size: 1rem;
	text-align: justify;
}

#section2 {
	padding: 0% 20% 0% 20% !important;
	font-size: 1rem;
	text-align: justify;
}

.navbar-inverse {
	font-size: 4.2vh !important;
	margin-bottom: -8vh;
	margin-top: 15px;
}

.fp-tableCell {
	vertical-align: middle;
}

.dLegend > text {
  fill: #555555;
}

#sources .fp-tableCell p {
	font-size: 2vh;
	text-align: left;
}

#sources a {
	color: #F7C51B;
}

#mytooltip {
  font-size: 14px;
  color: white !important;
	background-color: black !important;
}

/* SVG GRADIENTS */
.stop-left {
	stop-color: #FFFFFF;
  stop-opacity: .2;
}

.stop-right {
	stop-color: #f2c407; /* #cfcfcf;  */
  stop-opacity: 1;
}

.filled {
		fill: url(#mainGradient);
}

/*
.navbar-inverse {
		font-size: 2rem;
    background-color: transparent; 
    border-color: transparent; 
}
*/

/*
.navbar-brand {
		font-size: 3rem;
		color: #777777 !important;
}
*/

/* Disease graph */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 6;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #888888;
    stroke: #fff;
}


/* scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #999999;
}
